
.log{
    background-color: #d1584fcb;
    width: 120px;
    float: right;
    margin-left: 85%;
}
  .items{
      margin-right: 15px;
      width: 8%;
      height: 50%;
      background-color: #d1584fcb;
      color: rgb(250, 221, 221);
  }
  .b1{
    background-color:lavender;
  }
  .items:active{
    background-color: orange;
  }
  .Menu{
    font-size: 200px;
    height: 90%;
    background-color: #f07167;
  }