<div>
<mat-toolbar style="background-color: #f07167">
	<mat-toolbar-row >
		<button mat-flat-button routerLink="" class="Menu"><h1>Menu</h1></button>
		<button mat-raised-button routerLink="login"class="log">Sign in <mat-icon>login</mat-icon></button>
	</mat-toolbar-row>
	<mat-toolbar-row>
		<button mat-flat-button routerLink="item/burgers"class="items">Burgers</button>
		<button mat-flat-button routerLink="item/salads"class="items">Salads</button>
		<button mat-flat-button routerLink="item/desserts"class="items">Desserts</button>
		<button mat-flat-button routerLink="item/beverages"class="items">Beverages</button>
	</mat-toolbar-row>
</mat-toolbar>
</div>

