<mat-card >
          <mat-card-header style="text-align: 50px;" >
            <mat-card-title>Cart</mat-card-title>
            <button mat-flat-button (click)="clearCart()"class="reset_button"><mat-icon>refresh</mat-icon></button>
          </mat-card-header>
          <img mat-card-image src = "../../../assets/image/cart.png">
          <p style="font-size: 20px;"><b>Your order:</b></p>
          <div class="cart-item" *ngFor="let item of items">
            <span>{{ item.name }}</span>
           <span>   {{ item.cost| currency }}</span>
           <button mat-flat-button (click)="minusone()"><mat-icon>delete</mat-icon></button>
          </div>
          <b><p class="p2">Total Amount: {{getTotalPrice()}} zł</p></b>
          <mat-card-actions>
            <button mat-button class="but">Buy Now</button>
          </mat-card-actions>
        </mat-card>