.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}
.Card{
    width: 70%;
    margin-right: 10px;
}
.p{
    width: 90%;
    color: aquamarine;
}
.p1{
    width: 90%;
    color: red;
    font-size: 22px;
}
.p2{
    color: red;
    font-size: 15px;
    text-align: center;
}
.but{
    margin-left: 7px;
    font-size: 30px;
    background-color: orange;
    color:white;
    width: 95%;
   
}
.cart{
    height: 100px;
    width: 100 px;
    margin-right: 10px;
    margin-top: 20px;
}
.close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }
  .reset_button{
      width: 40%;
      height: 90%;
  }
