.flexbox-container{
    display: flex;
}
.flexbox-item-1{
    min-height: 200px;
    flex-grow: 4;
    flex-basis: 0;
    align-self: flex-start;
}
.flexbox-item-2{
    min-height: 100px;
    
    flex-grow: 1;
    flex-basis: 0;
    order: 2;
}