
.Card{
    margin-right: 10px;
    width: 250px;
    margin-top: 20px;
}
.flexbox-container{
    display: flex;
}
.flexbox-item-1{
    min-height: 200px;
    flex-grow: 4;
    flex-basis: 0;
    align-self: flex-start;
}
.flexbox-item-2{
    min-height: 100px;
    
    flex-grow: 1;
    flex-basis: 0;
    order: 2;
}
.flexbox-containerCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.flexbox-Card-1{
    min-height: 12%;
    text-align:center;
    margin-left: 50px;

}
.flexbox-Card-2{
    min-height: 40%;
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flexbox-Card-3{
    min-height: 10%;
    width: 90%;
    min-width: 90%;
}
.flexbox-Card-4{
    min-height: 8%;
    width: 90%;
    color: red;
    font-size: 22px;
    text-align: center;
}
.flexbox-Card-5{
    min-height: 10%;
    font-size: 30px;
    background-color: orange;
    color: rgb(255, 255, 255);
    width: 102%;
    bottom: auto;
}