<div class="flexbox-container">
  <div class="flexbox-item-1">
    <div class="flexbox-containerCard">
      <div *ngFor="let item of items$ | async">
        <mat-card class="Card">
          <mat-card-header class="flexbox-Card-1">
            <mat-card-title>{{item.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="flexbox-Card-2" src="{{item.image}}">
          <mat-card-content>
            <p class="flexbox-Card-3">
              <b>{{item.description}}</b>
            </p>
            <p class="flexbox-Card-4"><b>{{item.cost}} zł</b></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button class="flexbox-Card-5" (click)="addToCart(item)">Order Now</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="flexbox-item-2">
    <app-cart></app-cart>
  </div>
</div>